<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.content.project_name }}</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body id="content">
    {% block content %}
    {% endblock content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/signals.js') }}
    {{ JS.push('js/lib/hasher.js') }}
    {{ JS.push('js/lib/velocity.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/ZeroClipboard.js') }}
    {{ JS.push('js/lib/jquery.jplayer.js') }}
    {{ JS.push('js/lib/simpleStorage.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    <SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/trackimpj/N84701.6506NPRONLINE/B8654604.119839770;dc_trk_aid=290026696;dc_trk_cid=62400250;ord=[timestamp]?"></SCRIPT>
    <!-- NPR Online : P52650_MHL_FY 2015_8_E_NPR_Desktop_Display_Logo_SponsoredEditorial_"Favorite Music of 2015" (So Far) Sponsorship Music Player_71x55_0_0 -->
    <noscript class="MOAT-mcmediamillercoorsdcmvtwo787232837983?moatClientLevel1=8654604&amp;moatClientLevel2=1981929&amp;moatClientLevel3=119839770&amp;moatClientLevel4=62400250&amp;moatClientSlicer1=-&amp;moatClientSlicer2=-"></noscript>
    <script src="https://z.moatads.com/mcmediamillercoorsdcmvtwo787232837983/moatad.js#moatClientLevel1=8654604&moatClientLevel2=1981929&moatClientLevel3=119839770&moatClientLevel4=62400250&moatClientSlicer1=-&moatClientSlicer2=-&skin=0" type="text/javascript"></script>

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
