<div class = 'filter-head container-fluid' style="display: none;" >
</div>

<div class="playlist-filters">

    <div class="playlist-filters-wrapper">
<!--         <h3>Shuffle</h3>
<ul class="tags list-unstyled">

</ul> -->

        <div class="genre">
            <h3>Select a genre</h3>
            <ul class="tags list-unstyled">
                <li><a href="#" class="shuffle-songs">Shuffle All</a></li>
                {% for tag in GENRE_TAGS %}
                <li><a class="disabled genre-btn" data-tag="{{ tag }}" href="#">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="reviewer">
            <h3>Select a reviewer mixtape</h3>

            <ul class="reviewers tags list-unstyled">
                {% for reviewer in REVIEWER_TAGS %}
                <li>
                    <a class="disabled" data-tag="{{ reviewer }}" href="#">
                        <span class="mug"><img src="{{ S3_BASE_URL }}/assets/img/headshots/{{ REVIEWER_IMAGES[reviewer] }}"></span>
                        <span class="bio"><span class="name">{{ reviewer }}</span> {{ REVIEWER_BIOS[reviewer]|safe }}</span>
                        <span class="reviewer-link" data-tag="{{ reviewer }}"><span class="icon-play"></span> Play mixtape</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="language-filter-wrapper">
                    </div>


        <div class="filter-footer">
            <div class="row">
                <div class="language-wrapper">
                    <h3>Language Filter</h3>
                    <div class="btn-group language-toggle" data-toggle="buttons">
                        <label class="btn btn-default clean">
                            <input type="radio" name="options" value="clean" id="clean" autocomplete="off"> Clean
                        </label>
                        <label class="btn btn-default explicit active">
                            <input type="radio" name="options" value="explicit" id="explicit" autocomplete="off" checked> Explicit
                        </label>
                    </div>
                    <p class="instructions">Currently playing <span class="song-count"><span class="playlist-length"></span> songs out of <span class="total-songs"></span>.</span>

                </div>
                <div class="tools">
                    <h3>The Full List</h3>
                        <ul class="list-unstyled">
                        <li><a href="http://www.npr.org/2015/06/29/418593463/the-complete-list-npr-musics-favorite-songs-of-2015-so-far" target="_blank"><i class="fa fa-fw fa-list-ul"></i> Read the full list</a></li>
                        <!-- <li><a href="#"><i class="icon-rdio"></i> Listen on Rdio</a></li>
                        <li><a href="#"><i class="icon-spotify-circled"></i> Listen on Spotify</a></li>-->
                    </ul>
                </div>

                <div class="credits">
                    <h3>Project Credits</h3>
                    <p>NPR Music: {{ COPY.content.music_credits }}</p>
                    <p>Design and Development: {{ COPY.content.viz_credits }}
                </div>
            </div>
        </div>
    </div>
</div>
