<div class="player-container">
    <div class="fixed-controls">
        <div class="filters">
            <div class="filter-title js-toggle-filters">
                <span class="carot"></span>
                <h2 class="mix-header">Current Mix <span class="language-filter explicit">Explicit</span></h2>
                <h3 class="current-dj"></h3>
            </div>
        </div>

        {% include '_filter.html' %}
    </div>

    <div class="player-wrapper">
        <div class="player">
            <div id="audio-player" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio">
                <div class="jp-type-single">
                    <div class="gui">
                        <div class="controls">
                            <a href="javascript:;" class="play player-button" tabindex="1" title="play"><span class="icon-play"></span></a>
                            <a href="javascript:;" class="pause player-button" tabindex="1" style="display: none;" title="pause"><span class="icon-pause"></span></a>
                        </div>
                        <div class="player-song-info">
                            <h2 class="artist"></h2>
                            <h1 class="song-title"></h1>
                        </div>
                        <div class="jp-progress-container">
                            <div class="current-time"></div>
                            <div class="total-time"></div>
                            <div class="player-progress jp-progress">
                                <div class="jp-play-bar bar"></div>
                            </div>
                        </div>
                        <div class="playback-info">
                            <p class="songs-remaining">{{ total_songs }} songs remaining</p>
                            <p class="skips"><span class="skips-remaining"></span></p>
                        </div>

                        <a class="skip player-button" href="#"><span class="icon-forward"></span></a>
                    </div>
                </div>
            </div> <!-- end .jp-audio -->
        </div> <!-- end #audio -->
    </div>


</div>
